$desaturated-dark-cyan: hsl(180, 29%, 50%);
$deep-dark-cyan: hsl(180, 29%, 49%);
$light-grayish-cyan-bg: hsl(180, 52%, 96%);
$light-grayish-cyan-shadow: hsl(175, 45%, 86%);
$light-grayish-cyan-filter: hsl(180, 31%, 95%);
$dark-grayish-cyan: hsl(180, 8%, 52%);
$very-dark-grayish-cyan: hsl(180, 14%, 20%);

$navy-blue: hsl(228, 45%, 44%);

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$light-gray: hsl(180, 7%, 63%);

$base-font-size: 15px;

$base-weight: 500;
$bold-weight: 700;

$mobile-width: 375px;
$max-mobile-width: 480px;
$middle-desktop-width: 730px;
