@import "variable";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html,
body,
ul,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-size: $base-font-size;
  font-family: "League Spartan";
  background-color: $light-grayish-cyan-bg;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  position: relative;
  width: min(80%, 1000px);
  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 2.5em;
}

header img {
  width: 100%;
  background-color: $deep-dark-cyan;
}

.mobile {
  display: block;
}
.desktop {
  display: none;
}

@media only screen and (min-width: $max-mobile-width) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}

li,
section,
.middle-info,
.detail-info {
  display: flex;
}

li,
.filter {
  box-shadow: 0 0.5em 0.5em -0.2em $light-grayish-cyan-shadow;
  border-radius: 0.25em;
}

li {
  align-items: center;
  background-color: $white;
  margin-bottom: 1.5em;
  border-left: 5px solid $white;
  padding: 1em 0;
  img {
    padding-left: 1.5em;
    padding-right: 1.25em;
  }
  section {
    flex: 1;
    padding-right: 1.5em;
    justify-content: space-between;
  }
  .detail-info {
    gap: 0.75em;
    color: $dark-grayish-cyan;
    font-weight: $base-weight * 1.15;
  }
  &:hover {
    transition: all ease-out 0.15s;
    border-left: 5px solid $deep-dark-cyan;
  }
}

.middle-info {
  flex-direction: column;
  font-weight: $bold-weight;
  header {
    display: flex;
    align-items: center;
    gap: 0.75em;
    p {
      color: $white;
      font-size: 0.9em;
      span {
        vertical-align: middle;
        padding: 0.3em 0.5em;
        border-radius: 1em;
        margin-right: 0.5em;
      }
    }
    .span-new {
      background-color: $deep-dark-cyan;
    }
    .span-featured {
      background-color: $black;
    }
  }
  h3 {
    color: $desaturated-dark-cyan;
  }
  h2 {
    font-size: 1.25em;
    padding: 0.75em 0;
    &:hover {
      cursor: pointer;
      color: $desaturated-dark-cyan;
    }
  }
}

.job-tags,
.filter {
  display: flex;
  p {
    color: $deep-dark-cyan;
    background-color: $light-grayish-cyan-bg;
    font-weight: $bold-weight;
    padding: 0.5em;
    border-radius: 0.25em;
  }
}

.job-tags {
  gap: 0.75em;
  align-items: center;
  p {
    transition: 0s 0.1s;
    &:hover {
      cursor: pointer;
    }
    &:active {
      color: $white;
      background-color: $deep-dark-cyan;
      transition: 0s;
    }
  }
}

.filter {
  justify-content: space-between;
  width: min(80%, 1000px);
  margin: 0 auto;
  padding: 1em 2em;
  margin-bottom: -4em;
  transform: translate(0, -50%);
  background-color: $white;
  & > div,
  div {
    display: flex;
  }
  & > div {
    gap: 0.75em;
  }
  div > p {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .remove-button {
    border: none;
    border-top-right-radius: 0.15em;
    border-bottom-right-radius: 0.15em;
    font-size: 1.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    color: $white;
    background-color: $desaturated-dark-cyan;
    &:hover {
      cursor: pointer;
      background-color: $very-dark-grayish-cyan;
    }
  }
  .clear-button {
    background-color: transparent;
    border: none;
    color: $deep-dark-cyan;
    font-weight: $bold-weight;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
}
.attribution a {
  color: $navy-blue;
}
