@import "variable";

* {
  box-sizing: border-box;
}

html,
body,
ul,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-size: $base-font-size;
  font-family: "League Spartan";
  background-color: $light-grayish-cyan-bg;
}

ul {
  list-style: none;
  width: min(80%, 1000px);
  margin: 0 auto;
  padding: 2em 0;
}

header img {
  width: 100%;
  background-color: $deep-dark-cyan;
}

.mobile {
  display: block;
}
.desktop {
  display: none;
}

@media only screen and (min-width: $max-mobile-width) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}

li,
section,
.middle-info,
.detail-info {
  display: flex;
}

li {
  align-items: center;
  background-color: $white;
  margin-top: 1.5em;
  box-shadow: 0 0.3em 0.5em 0.2em $light-grayish-cyan-shadow;
  border-radius: 0.25em;
  border-left: 5px solid $white;
  padding: 1em 0;
  img {
    padding-left: 1.5em;
    padding-right: 1.25em;
  }
  section {
    flex: 1;
    padding-right: 1.5em;
    justify-content: space-between;
  }
  .detail-info {
    gap: 0.75em;
    color: $dark-grayish-cyan;
    font-weight: $base-weight * 1.15;
  }
  &:hover {
    transition: all ease-out 0.15s;
    border-left: 5px solid $deep-dark-cyan;
  }
}

.middle-info {
  flex-direction: column;
  font-weight: $bold-weight;
  header {
    display: flex;
    align-items: center;
    gap: 0.75em;
    p {
      color: $white;
      font-size: 0.9em;
      span {
        vertical-align: middle;
        padding: 0.3em 0.5em;
        border-radius: 1em;
        margin-right: 0.5em;
      }
    }
    .span-new {
      background-color: $deep-dark-cyan;
    }
    .span-featured {
      background-color: $black;
    }
  }
  h3 {
    color: $desaturated-dark-cyan;
  }
  h2 {
    font-size: 1.25em;
    padding: 0.75em 0;
    &:hover {
      cursor: pointer;
      color: $desaturated-dark-cyan;
    }
  }
}

.job-tags {
  display: flex;
  align-items: center;
  gap: 0.75em;
  p {
    color: $deep-dark-cyan;
    background-color: $light-grayish-cyan-bg;
    font-weight: $bold-weight;
    padding: 0.5em;
    border-radius: 0.25em;
    &:hover {
      cursor: pointer;
    }
  }
  .chosen {
    color: $white;
    background-color: $deep-dark-cyan;
  }
}
